main {
    margin: 0 auto;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

main h2 {
    text-align: center;
    margin: 44px;
    font-size: 2.5rem;
}

table {
    width: 90%;
    margin: 0 auto 50px auto;
    border-collapse: separate;
    border-spacing: 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table thead {
    background: #2376ca;
    color: white;
    text-align: left;
}

table thead th {
    padding: 15px;
    font-size: 1.2rem;
    border-bottom: 2px solid #000000;
    text-align: center;
    vertical-align: middle;
}

table tbody td {
    padding: 15px;
    font-size: 1rem;
    border-bottom: 1px solid #ddd;
}

table thead th:nth-child(1),
table tbody td:nth-child(1) {
    width: 5%; /*ID Mensaje*/
}

table thead th:nth-child(2),
table tbody td:nth-child(2) {
    width: 17%; /*Autor*/
}

table thead th:nth-child(3),
table tbody td:nth-child(3) {
    width: 17%; /*Asunto*/
}

table thead th:nth-child(4),
table tbody td:nth-child(4) {
    width: 44%; /*Mensaje*/
}

table thead th:nth-child(5),
table tbody td:nth-child(5) {
    width: 17%; /*Email de contacto*/
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tbody tr:hover {
    background-color: #e0f7fa;
    transition: background-color 0.3s ease;
}

table tbody tr:first-child td:first-child {
    border-top-left-radius: 10px;
}

table tbody tr:first-child td:last-child {
    border-top-right-radius: 10px;
}

table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.logout-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff4d4d;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
    font-weight: bold;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #f96b6b;
    transform: scale(1.03);
}

.usuario {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.usuario p {
    margin: 5px 0;
}
